.contactContainer {
    margin-left: 3%;
    width: 50%;
    margin-top: 15%;
    text-align: center;
    background-color: dimgrey;
    border-radius: 25px;
    padding: 35px 20px;
    box-shadow: 5px 5px dimgrey;
    opacity: 0.6;
    font-family: 'Lora', serif;
    color: black;
    text-shadow: 1px 1px darkred;
    font-size: 30px;
}