@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

.mainTitle {
    margin-left: 3%;
    display: inline-block;
    text-align: left;
    font-family: 'Cinzel', serif;
    font-size: 65px;
    color: black;
    text-shadow: 1px 1px darkred;
}

.Header {
    background-color: rgba(52, 52, 52, 0.78);
    opacity: 0.6;
}


