@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.Header {
    width: 90%;
}

H1 {
    display: inline-block;
    text-align: left;
    font-family: 'Lora', serif;
    font-size: 40px;
    color: black;
}

button {
    background-color: transparent;
    border-width: 0;
    font-size: 20px;
    margin-left: 8%;
    font-family: 'Lora', serif;
    text-align: center;
}
